.env
.env.prod
.venv
venv
.mongodb-data
.mongodb-test-data/
data
.data
did_user_data
test_did_user_data
hive.log
.DS_Store
.git
.gitignore
.idea
.pytest_cache
.rclone_config
.travis.yml
*.swp
.dockerignore
config/.*
config/README.md
doc_v1
docs
tests
tests_v1
Dockerfile
docker-compose.yaml
run.sh
wait_node.sh
README.md
